body		{font-size:10px;font-family:arial,helvetica,tahoma,verdana,sans-serif;}
span.box	{ font-size : 14px; float:left; border: 1px solid #999999; margin : 3px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; width:140px}
div.boxTitle{ width:100%; min-width:120px; font-size: 20px; background-color:#BBBBBB; text-align:center;-webkit-border-radius: 10px 10px 0px 0px ; -moz-border-radius: 10px 10px 0px 0px ; border-radius: 10px 10px 0px 0px ; }

div.boxContent {text-align:center;  }


